.BackgroundBg {
  background-image: url("./../../assets/svgs/image\ 1.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.HeroTitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 114px;
  line-height: 86.5%;
  letter-spacing: -0.03em;
  color: #000000;
}
.HeroParagraph {
  width: 469px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 30px;
}
