.Title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #000000;
}

@media screen and (max-width: 640px) {
  .Title {
    font-size: 25px;
    line-height: 35px;
  }
}
