.TheTeamContent h2 {
  font-family: "Raleway";
  font-style: normal;
  font-size: 20px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #000000;
}
.TheTeamContent h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: #000000;
}

.TheTeamContent p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #00008b;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
}
