.Title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  letter-spacing: -0.02em;
  color: #000000;
}

.Description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  color: #000000;
}

.ProgramImgWrapper {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 640px) {
  .Title {
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
  }
  .Description {
    font-size: 14px;
  }
}
