.NavLink {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #000000 !important;
}
.NavLinkWhite {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: white !important;
}

.NavLinkIcons {
  width: 23px;
}
.Navbar {
  height: 88px;
  background-color: transparent !important;
  transition: all 0.3s linear;
}
.NavbarScroll {
  height: 88px;
  background-color: white !important;
  transition: all 0.3s linear;
}
.AboutNavbarScroll {
  height: 88px;
  background-color: #054814;
  transition: all 0.3s linear;
}
