* {
  /* border: 0.5px solid red; */
}

body {
  /* background: black; */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.LinkBtn {
  display: block;
  width: fit-content;
}

.green {
  background-color: #054814;
}

.item {
  min-height: 40rem;
  min-width: 30rem;
  padding: 40px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

/* .inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
} */

.PrimaryBtn {
  display: flex !important;
  align-items: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.04em;
  color: #ffffff;
  background: #054814;
}

.FormBtn {
  background-color: #054814 !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
}

.Content {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: #000000;
}
